/* .review__header {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} */

.review-list {
  list-style: none;
  width: 100%;
  padding: 0;
}
.review-list__item {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto 20px;
  border: 2px solid #ccc;
}
